<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <bean id="studentService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" >
        <property name="serviceUrl" value="${rmi.service.url}studentService" />
        <property name="serviceInterface"    value="com.wssong.service.StudentService"/>
        <property name="lookupStubOnStartup" value="false" />
        <property name="refreshStubOnConnectFailure" value="true" />
    </bean>
</beans>